.App {
  text-align: center;
}


.appArticle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  height: 8vh;
  width: 100vw;
}

.titleSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  height: 8vh;
  width: 100vw;
  color: gold;
  font-size: 3.5vw;
  padding-top: 1vw;
}

.appButtons {
    background-color: #212121;
    color: gold;
    height: 40%;
    width: 11%;
    margin: 1%;
    font-size: 20px;
}

.selectButton {
  background-color: #212121;
  color: gold;
  height: 40%;
  width: 20%;
  margin: 1%;
  font-size: 19px;
}

.input {
  height: 30%;
  width: 25%;
  background-color: grey;
  color: white;
  font-size: 20px;
}

.input::placeholder {  
  color: white;
}

.appFooter {
  height: 8vh;
  width: 100vw;
  background-color: #212121;
  align-content: center;
}

.modalVisualsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modalImg {
  height: 22vh;
  width: auto;
  box-shadow: 0px 0px 3px 3px gold;
  border-radius: 15px;
}

.modalAboutContainer {
  display: flex;
}

.modalTextContainer {
  display: flex;
  align-items: center;
}


.modalArticle {
  width: 100%;
  height: auto;
  justify-self: center;
}

.modalTitle {
  font-size: 150%;
}

.modalText {
  font-size: 80%;
  word-wrap: break-word;
  margin: 2%;
}

.modalOverview {
  font-size: 80%;
  word-wrap: break-word;
  margin: 2%;
}

.trailerContainer {
  text-align: center;
}

.trailerTitle {
  font-size: 18px;
  margin-bottom: 10px;
  color: #222;
}

.trailerIframe {
  width: 22vw;
  height: 22vh;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 2px gold;
}


@media only screen and (max-width: 1100px) {
  .appButtons {
      font-size: 15px;
  }

  .selectButton {
    font-size: 15px;
  }

  .input {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .modalImg {
    height: auto;
    width: 80%;
  }

  .modalArticle {
    width: 100%;
    height: auto;
    justify-self: center;
  }

  .modalTitle {
    font-size: 3vw;
  }

  .modalText {
    font-size: 2vw;
    word-wrap: break-word;
  }

  .appButtons {
      font-size: 1.5vw;
  }

  .selectButton {
    font-size: 1.5vw;
  }

  .input {
    font-size: 1.5vw;
  }
}






