.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;
    }

.modal-content {
    background-color: #212121;
    padding: 20px;
    border-radius: 5px;
    width: 90vw;
    max-width: 700px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0px 0px 5px 5px #FFB800;;
    position: relative;
    color: #FFB800;;
    font-size: 1.5vh;
    box-sizing: border-box;
    }

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    background: transparent;
    color: #FFB800;;
    }

@media only screen and (max-width: 600px) {
.modal-content {
        width: 90vw;
        height: auto;
        max-height: 90vh;
        font-size: 4vw;
        padding: 15px;
    }
    }
