.movieCardContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 3px gold;
    border: #212121;
    margin: 20px;
    border-radius: 10px;
    width: 12%;
    height: auto;
    background-color: #212121;
    color: gold;
}


.movieIMG {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.movieName {
    font-size: 1vw;
    font-weight: bold;
    margin: 3px;
    flex-wrap: wrap;
    word-wrap: break-word;
    
}

.movieRating {
    font-size: .75vw;
    color: lightgrey;
    margin: 2px;
    word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
    .movieCardContainer {
        width: 45%;
        height: auto;
        margin: 10px;
        background-color: #212121;
        color: gold;
    }

    .movieIMG {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0px 0px;
    }

    .movieName {
        font-size: 14px;
        text-align: center;
        word-wrap: break-word;
        color: gold;
    }
    
    .movieRating {
        font-size: 14px;
        text-align: center;
        word-wrap: break-word;
        color: lightgray;
    }
}

@media only screen and (max-width: 400px) {
    .movieCardContainer {
        width: 25%;
        height: auto;
        margin: 10px;
        background-color: #212121;
        color: gold;
    }

    .movieIMG {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0px 0px;
    }

    .movieName {
        font-size: 14px;
        text-align: center;
        word-wrap: break-word;
        color: gold;
    }
    
    .movieRating {
        font-size: 14px;
        text-align: center;
        word-wrap: break-word;
        color: lightgray;
    }
}
